@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

main{
  padding-bottom: 50px
}

.navbar {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.login{
  margin: 50px;
}

.pagination {
    justify-content: center;
}
