<div class="genres_sidebar">
  <table class="border border-dark col-7 mt-4">
    <thead>
      <tr class="text-center">
        <th class="border-bottom border-dark">ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |genre| %>
      <tr class="text-center">
        <td class="text-secondary">
          <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-dark" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

